# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Environment variables
.env
*.env

# Kubernetes configs (if generated)
*.yaml

# Ignore model checkpoints
checkpoints/
*.ckpt

# Ignore test outputs or temp files
tmp/
temp/
*.tmp
*.test
*.pytest_cache/

# Data files
*.csv
*.tsv
*.h5
*.pth
*.pt
*.npy

# ignore Dataset
data/
dataset/
datasets/

# Dataset specific outputs Transformers, datasets, tokenizer, LLM model cache
db/
output/
out/
*.csv
*.tsv
*.zip
