wheel
torch==2.9.1
diffusers==0.33.0
nn-dataset>=2.2.7
nn-rag>=2.2.4
nn-dup>=2.2.4
bitsandbytes>=0.45.0
peft>=0.14.0
gguf>=0.10.0
trl
sentence-transformers>=3.3.1
faiss-cpu
overrides>=7.7.0
datasketch # to check code novelty
langgraph>=1.0.4

# transformers @ git+https://github.com/huggingface/transformers.git@main
# Unsloth dependencies (official installation)
unsloth==2026.3.4
unsloth-zoo==2026.3.2
triton_kernels @ git+https://github.com/triton-lang/triton.git@v3.5.0#subdirectory=python/triton_kernels
triton>=3.4.0

matplotlib
optimum[onnxruntime-gpu]
onnx>=1.16.0
onnxruntime-gpu>=1.18.0
kernels