nn-dataset~=1.0.3
transformers~=4.48.0
bitsandbytes~=0.45.0
peft~=0.14.0
overrides~=7.7.0
deepspeed~=0.16.3
torch~=2.6.0
radon~=6.0.1
datasets~=3.2.0
pandas~=2.2.3
tqdm~=4.67.1
torchvision~=0.21.0
setuptools~=70.0.0
